# Base de datos
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=tu_usuario
DATABASE_PASSWORD=tu_password
DATABASE_NAME=ecowatt_db

# ESIOS API
ESIOS_TOKEN=solicitar_en_consultasios@ree.es
ESIOS_BASE_URL=https://api.esios.ree.es

# App
PORT=3000
